<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.CardMapper">
    <select id="getCardByPhoneNumber" parameterType="String" resultType="POJOs.Card">
        select * from cards where phonenumber = #{phonenumber}
    </select>
    <insert id="createCard" parameterType="POJOs.Card">
        insert into cards (phonenumber, username, password, pack, restmoney)
        values(#{phonenumber}, #{username}, #{password}, #{pack}, #{restmoney})
    </insert>
    <update id="updateCard" parameterType="POJOs.Card">
        update cards set
        username = #{username},
        password = #{password},
        pack = #{pack},
        restmoney = #{restmoney}
        where phonenumber = #{phonenumber}
    </update>
</mapper>