<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DAO.StudentMapper">
    <select id="getUserById" parameterType="int" resultType="POJOs.Student">
        select name,
               password,
               email,
               sex,
               active
        from users where User_ID = #{id};
    </select>
    <insert id="createUser" parameterType="POJOs.User" useGeneratedKeys="true" keyProperty="id">
        insert into users (name, password, email, sex, active)
        values(#{name}, #{password}, #{email}, #{sex}, #{active})
    </insert>
    <update id="updateUser" parameterType="POJOs.User">
        update users set
                         name = #{name},
                         password = #{password},
                         email = #{email},
                         sex = #{sex},
                         active = #{active}
        where User_ID = #{id}
    </update>
</mapper>